$default-line-height: 1.5;

$heading1-font-size: 2.6rem;
$heading2-font-size: 1.6rem;
$heading3-font-size: 1.2rem;
$heading4-font-size: 1rem;

$header-title-prefix-font-size: 2.6rem;
$header-title-prefix-font-size-mobile: 1.8rem;
$header-title-font-size: 3.6rem;
$header-title-font-size-mobile: 1.4rem;
$header-subtitle-font-size-mobile: 1.8rem;

$introduction-font-size: 1.6rem;

$navigation-font-size: 1rem;
$navigation-line-height: 1.5;
$navigation-icon-font-size: 1rem;
$navigation-icon-line-height: 1.5;
$navigation-icon-font-size-correction: 19px;
$navigation-icon-line-height-correction: 31px;

$skills-heading-font-size: 1.4rem;
$skills-icon-font-size: 2.4rem;

$cases-heading-font-size: 1.4rem;
$cases-year-font-size: 1.2rem;
$cases-role-font-size: .8rem;

$footer-font-size: 1rem;
$footer-font-size-mobile: .7rem;
$footer-line-height: 1.5rem;
$footer-icon-font-size: 1rem;
$footer-icon-line-height: 1.2rem;
$footer-icon-linkedin-line-height: 1rem;
