header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  transform-origin-x: 100%;
  transform-style: preserve-3d;

  &:before {
    background-color: $black;
    content: ' ';
    height: 100%;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  img {
    height: auto;
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    transform: translateZ(-1px) scale(2);
    width: auto;
  }

  .title-wrapper {
    animation: blockSlideInFromLeft 1s ease-out 1s 1 forwards;
    opacity: 0;
    position: absolute;
    text-align: center;
    z-index: 2;

    h1, h2 {
      color: $page-title-color;
      text-shadow: 0 0 20px $page-title-shadow-color;
    }

    h1 {
      font-size: $header-title-font-size;
      font-weight: 100;
    }

    h2 {
      font-size: $header-subtitle-font-size;
      margin-bottom: 20px;
    }

    a {
      @extend %button;
      border: 1px solid $header-link-border-color;
      color: $header-link-color;
      margin: 10px;

      &:hover {
        background-color: $header-link-background-hover-color;
        color: $header-link-hover-color;
      }
    }
  }

  .content-scroll {
    align-items: center;
    animation: blockSlideInFromTop 1s ease-out 1s 1 forwards;
    border: 2px solid $page-title-color;
    border-radius: 50%;
    bottom: 60px;
    display: inline-flex;
    font-size: 0;
    height: 35px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-decoration: none;
    width: 35px;
    z-index: 2;

    &:before {
      @include icon('arrow-down');
      color: $page-title-color;
      font-size: 16px;
    }
  }
}

@media #{$mobile} {
  header {
    .title-wrapper {
      h1 {
        font-size: $header-title-font-size-mobile;
      }

      h2 {
        font-size: $header-subtitle-font-size-mobile;
      }
    }
  }
}
