header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  min-height: 360px;
  position: relative;

  &:before {
    background-color: $black;
    content: ' ';
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .hero-image,
  .hero-image-mobile {
    background: transparent none no-repeat center center fixed;
    background-size: cover;
    display: block;
    height: 100vh;
    max-width: 100%;
    position: absolute;
    transition: 0s linear;
    transition-property: background-position;
    width: 100vw;
  }

  .hero-image-mobile {
    display: none;
  }

  .title-wrapper {
    animation: blockSlideInFromLeft 1s ease-out forwards;
    opacity: 0;
    position: relative;
    text-align: center;
    z-index: 2;

    h1,
    span.title-prefix {
      color: $page-title-color;
      text-shadow: 0 0 20px $page-title-shadow-color;
    }

    span.title-prefix {
      font-size: $header-title-prefix-font-size;
      font-weight: 100;
      text-transform: uppercase;
    }

    h1 {
      font-size: $header-title-font-size;
      margin-bottom: 20px;
    }

    a {
      @extend %button;
      border: 1px solid $header-link-border-color;
      color: $header-link-color;
      margin: 10px;

      &:hover {
        background-color: $header-link-background-hover-color;
        color: $header-link-hover-color;
      }
    }
  }

  .content-scroll {
    align-items: center;
    animation: blockSlideInFromTop 1s ease-out 1s 1 forwards;
    border: 2px solid $page-title-color;
    border-radius: 50%;
    bottom: 60px;
    display: inline-flex;
    font-size: 0;
    height: 35px;
    justify-content: center;
    left: calc(50% - 20px);
    opacity: 0;
    position: absolute;
    text-decoration: none;
    width: 35px;
    z-index: 2;

    &:before {
      @include icon('arrow-down');
      color: $page-title-color;
      font-size: 16px;
    }
  }
}

@media #{$mobile} {
  header {
    .hero-image-mobile {
      display: block;
    }

    .hero-image {
      display: none;
    }

    .title-wrapper {
      h1 {
        font-size: $header-title-font-size-mobile;
      }

      span.title-prefix {
        font-size: $header-title-prefix-font-size-mobile;
      }

      h2 {
        font-size: $header-subtitle-font-size-mobile;
      }
    }
  }
}
