.navigation .navigation-inner,
section .section-inner,
footer nav {
  margin: 0 auto;
  max-width: calc-grid() + px;
  padding: 0 10px;
  width: 100%;
}

body:not(.front),
body:not(.node--type-page) {
  main.content {
    margin: 0 auto;
    max-width: calc-grid() + px;
    padding: 0 10px;
    width: 100%;
  }
}

#toolbar-administration nav {
  width: 100%;
}

li.node-readmore a:after {
  @include icomoon('caret-right');
  font-size: 50%;
  vertical-align: 1px;
}

div.wrapper {
  .content.column {
    margin-bottom: 0;
  }
}
