html, body {
  background-color: $body-background-color;
  font-family: $default-font;
  font-size: $default-font-size;
  line-height: pxtorem($default-line-height);
}

a {
  @extend %transition;
  color: $link-color;
  text-decoration: underline;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:before {
    @extend %transition;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $default-font;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 5px;
  text-transform: uppercase;
}

h1 {
  font-size: $heading1-font-size;
}

h2 {
  font-size: $heading2-font-size;
}

h3 {
  font-size: $heading3-font-size;
}

h4 {
  font-size: $heading4-font-size;
}

ol {
  counter-reset: olcounter;
  list-style-position: inside;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;

    &:before {
      @extend %fonticon;
      content: counter(olcounter) '.';
      counter-increment: olcounter;
      font-family: $default-font;
      font-size: $default-font-size;
      padding: 0 4px;
    }
  }
}


@media #{$mobile} {
  html, body {
    font-size: $default-font-size-mobile;
  }
}