div.page-wrapper {
  animation: pageFadeIn 0.5s ease-out 0s 1 forwards;
  opacity: .1;
}

.wrapper {
  background-color: $page-background-color;
  min-height: 300px;
  overflow: hidden;
  z-index: 2;
}

// Messages
div.alert {
  background-image: none;
  border: 0;
  color: $white;
  margin-bottom: 2rem;
  padding: 1rem;

  .krumo-root {
    color: $black;
  }

  > ul {
    display: inline-block;
    margin: 0;
    width: calc(100% - 40px);
  }

  &:before {
    float: left;
    margin-top: 1px;
    padding-right: 1rem;
  }

  &.alert-warning {
    background-color: $message-warning;

    &:before {
      @include icomoon('warning');
    }
  }

  &.alert-info {
    background-color: $message-status;

    &:before {
      @include icomoon('status');
    }
  }

  &.alert-danger {
    background-color: $message-error;

    &:before {
      @include icomoon('error');
    }
  }
}

p.intro {
  font-size: $introduction-font-size;
  margin: 0 auto 1em;
  max-width: 720px;
}

p {
  margin: 0 auto 1em;
  max-width: 860px;
  line-height: 1.5;
}

a {
  color: $link-color;
}

.ajax-progress-throbber {
  display: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}
