div.page-wrapper {
  animation: blockFadeIn 0.5s ease-out 0s 1 forwards;
  opacity: 0;
}

.wrapper {
  background-color: $page-background-color;
  min-height: 300px;
  overflow: hidden;
  z-index: 2;
}

// Messages
div.alert {
  background-image: none;
  border: 0;
  color: $white;
  margin-bottom: pxtorem(20px);
  padding: pxtorem(10px);

  .krumo-root {
    color: $black;
  }

  > ul {
    display: inline-block;
    margin: 0;
    width: calc(100% - 40px);
  }

  &:before {
    float: left;
    margin-top: pxtorem(1px);
    padding-right: pxtorem(10px);
  }

  &.alert-warning {
    background-color: $message-warning;

    &:before {
      @include icomoon('warning');
    }
  }

  &.alert-info {
    background-color: $message-status;

    &:before {
      @include icomoon('status');
    }
  }

  &.alert-danger {
    background-color: $message-error;

    &:before {
      @include icomoon('error');
    }
  }
}

p.intro {
  font-size: $introduction-font-size;
  margin: 0 auto 1em;
  max-width: 720px;
}

p {
  margin: 0 auto 1em;
  max-width: 860px;
}

a {
  color: $link-color;
}

.ajax-progress-throbber {
  display: none;
}
