.cases {

  .case {
    background-color: $cases-bg-color;
    margin: 0 0 20px;
    overflow: hidden;

    p {
      margin: .5em auto 1em;
    }

    .image {
      align-items: center;
      clear: both;
      display: flex;
      float: left;
      height: 480px;
      justify-content: center;
      overflow: hidden;
      width: 480px;
    }

    .image img {
      @extend %transition;
      flex-shrink: 0;
      height: 100%;
      width: auto;
    }

    &:nth-child(even) {
      .image {
        float: right;
      }
    }

    .details {
      overflow: auto;
      padding: 40px;
    }

    h2 {
      display: inline-block;
      font-size: $cases-heading-font-size;
    }

    .year {
      color: $cases-year-font-color;
      float: right;
      font-size: $cases-year-font-size;
    }

    h3 {
      color: $cases-role-font-color;
      font-size: $cases-role-font-size;
    }

    .tags {
      border-top: 1px solid $cases-tag-border-color;
      margin-top: 20px;
      padding-top: 20px;

      .tag {
        border: 1px solid $cases-tag-border-color;
        border-radius: 20px;
        color: $cases-tag-color;
        display: inline-block;
        margin: 0 10px 10px 0;
        padding: 7px 15px;
      }

    }

    a {
      @extend %button;
      border: 1px solid $button-border-color;
    }
  }
}

@media #{$mobile} {
  .cases {
    .case {
      .image {
        align-items: flex-start;
        float: none;
        height: 240px;
        width: 100%;
      }

      .image img {
        height: auto;
        width: 100%;
      }

      &:hover .image img {
        height: auto;
        width: 105%;
      }

      &:nth-child(even) {
        .image {
          float: none;
        }
      }

      .details {
        padding: 20px;
      }

      .year {
        display: block;
        float: none;
      }

      .tags {
        .tag {
          padding: 5px 10px;
        }
      }
    }
  }
}

@media #{$tablet-p} {
  .cases {
    .case {
      .image {
        justify-content: flex-start;
        width: 360px;
      }

      .image img {
        width: auto;
      }

      .details {
        padding: 20px;
      }

      .year {
        display: block;
        float: none;
      }
    }
  }
}

@media #{$tablet-l} {
  .cases {
    .case {
      .image {
        justify-content: flex-start;
        width: 360px;
      }

      .image img {
        width: auto;
      }
    }
  }
}
